# SQL Joins Assignment

1. Retrieve all customers who have placed at least one order

- select CustomerName
from Customers as c
inner join Orders as o
on c.CustomerID = o.CustomerID;

2. Retrieve all customers and their orders, including customers who have not placed any orders

- select CustomerName,OrderID
from Customers as c
left join Orders as o
on c.CustomerID = o.CustomerID;


3. Retrieve all orders and their corresponding customers, including orders placed by unknown
customers.

- select OrderID,CustomerName
from Orders as o
left join Customers c
on o.CustomerID = c.CustomerID;

4. Display all customers and orders, whether matched or not.

- select CustomerName,OrderID
from Customers c
left join Orders as o
on  c.CustomerID = o.CustomerID
union
select CustomerName,OrderID
from Customers c
right join Orders as o
on  c.CustomerID = o.CustomerID;

5. Find customers who have not placed any orders.

- select CustomerName,OrderID
from Customers c
left join Orders as o
on  c.CustomerID = o.CustomerID
where OrderID is Null;

6. Retrieve customers who made payments but did not place any orders.

- select c.CustomerName,o.OrderID,p.PaymentID
from Customers c
inner join payments p
on c.CustomerID=p.CustomerID
left join orders o
on c.CustomerID=o.CustomerID
where o.OrderID is null;

7. Generate a list of all possible combinations between Customers and Orders.

- select *
from customers
cross join orders
;

8. Show all customers along with order and payment amounts in one table.

- select o.OrderID,p.Amount as payment_amt
from orders o
left join payments p
on o.CustomerID=p.CustomerID;

9. Retrieve all customers who have both placed orders and made payments.

- select distinct c.CustomerName ,o.OrderID,p.Amount,c.CustomerID
from customers c
join orders o
on c.CustomerID=o.CustomerID
join payments p
on p.CustomerID=o.CustomerID;